In [1]:
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer

In [2]:
#Read in file
df = pd.read_csv('data/big_filtered.csv')
#drop the untitled index column
df=df.iloc[:, 1:]

In [6]:
df['genre']=df['genre'].apply(lambda x: x.replace(',', '') if x==x else '')
cvt=CountVectorizer()

In [9]:
genre_ary = cvt.fit_transform(df['genre']).toarray()  #note: no underscore. Wrong: to_array(); Correct: toarray()
genre_df = pd.DataFrame(genre_ary, columns=[f'{genre}' for genre in cvt.get_feature_names()])

In [10]:
genre_df #seems that sci-fi got broken up into two columns. Testing for identity, dropping one if so, and rename remaining column

,action,adventure,animation,biography,comedy,crime,drama,family,fantasy,fi,...,horror,music,musical,mystery,romance,sci,sport,thriller,war,western
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8108,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8109,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8110,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8111,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
8112,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
cols_to_test = ['sci', 'fi']
df0 = genre_df[cols_to_test]
df1 = df0[df0['sci']!=df0['fi']]
df1
#should be zero rows, if so validates that sci and fi are the same column broken out unnecessarily
# note: the reverse test (df0['sci']==df0['fi']) returns 8113 rows, as expected

Empty DataFrame
Columns: [sci, fi]
Index: []

In [33]:
col_to_drop = 'fi'
col_to_rename = {'sci':"scifi"}
#genre_dfa = genre_df.drop(col_to_drop, axis=1)
genre_dfa = genre_dfa.rename(col_to_rename, axis=1)

In [31]:
genre_df.columns

Index(['action', 'adventure', 'animation', 'biography', 'comedy', 'crime',
       'drama', 'family', 'fantasy', 'fi', 'history', 'horror', 'music',
       'musical', 'mystery', 'romance', 'sci', 'sport', 'thriller', 'war',
       'western'],
      dtype='object')

In [34]:
genre_dfa.columns

Index(['action', 'adventure', 'animation', 'biography', 'comedy', 'crime',
       'drama', 'family', 'fantasy', 'history', 'horror', 'music', 'musical',
       'mystery', 'romance', 'scifi', 'sport', 'thriller', 'war', 'western'],
      dtype='object')

In [36]:
genre_dfa.to_csv('genre_ary.csv')