In [2]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [5]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import sklearn.datasets
import pandas as pd

In [7]:
df = pd.read_csv('data/movies_cleaned.csv')

In [12]:
df1 = df.drop(['Unnamed: 0'], axis=1)

In [13]:
df1.head()

,profit,budget,company,country,director,genre,gross,name,rating,released,runtime,star,writer,year,ROI_pct,release_dt
0,44287414,8000000,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414,Stand by Me,R,8/22/1986,89,Wil Wheaton,Stephen King,1986,553.592675,1986-08-22
1,64136369,6000000,Paramount Pictures,USA,John Hughes,Comedy,70136369,Ferris Bueller's Day Off,PG-13,6/11/1986,103,Matthew Broderick,John Hughes,1986,1068.939483,1986-06-11
2,164800601,15000000,Paramount Pictures,USA,Tony Scott,Action,179800601,Top Gun,PG,5/16/1986,110,Tom Cruise,Jim Cash,1986,1098.670673,1986-05-16
3,66660248,18500000,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248,Aliens,R,7/18/1986,137,Sigourney Weaver,James Cameron,1986,360.325665,1986-07-18
4,9564613,9000000,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613,Flight of the Navigator,PG,8/1/1986,90,Joey Cramer,Mark H. Baker,1986,106.273478,1986-08-01

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4638 entries, 0 to 4637
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   profit      4638 non-null   int64
 1   budget      4638 non-null   int64
 2   company     4638 non-null   object
 3   country     4638 non-null   object
 4   director    4638 non-null   object
 5   genre       4638 non-null   object
 6   gross       4638 non-null   int64
 7   name        4638 non-null   object
 8   rating      4638 non-null   object
 9   released    4638 non-null   object
 10  runtime     4638 non-null   int64
 11  star        4638 non-null   object
 12  writer      4638 non-null   object
 13  year        4638 non-null   int64
 14  ROI_pct     4638 non-null   float64
 15  release_dt  4638 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 579.9+ KB

In [17]:
df1['Month_released']=pd.DatetimeIndex(df1['release_dt']).month

In [18]:
df1.head()

,profit,budget,company,country,director,genre,gross,name,rating,released,runtime,star,writer,year,ROI_pct,release_dt,Month_released
0,44287414,8000000,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414,Stand by Me,R,8/22/1986,89,Wil Wheaton,Stephen King,1986,553.592675,1986-08-22,8
1,64136369,6000000,Paramount Pictures,USA,John Hughes,Comedy,70136369,Ferris Bueller's Day Off,PG-13,6/11/1986,103,Matthew Broderick,John Hughes,1986,1068.939483,1986-06-11,6
2,164800601,15000000,Paramount Pictures,USA,Tony Scott,Action,179800601,Top Gun,PG,5/16/1986,110,Tom Cruise,Jim Cash,1986,1098.670673,1986-05-16,5
3,66660248,18500000,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248,Aliens,R,7/18/1986,137,Sigourney Weaver,James Cameron,1986,360.325665,1986-07-18,7
4,9564613,9000000,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613,Flight of the Navigator,PG,8/1/1986,90,Joey Cramer,Mark H. Baker,1986,106.273478,1986-08-01,8

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4638 entries, 0 to 4637
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   profit          4638 non-null   int64
 1   budget          4638 non-null   int64
 2   company         4638 non-null   object
 3   country         4638 non-null   object
 4   director        4638 non-null   object
 5   genre           4638 non-null   object
 6   gross           4638 non-null   int64
 7   name            4638 non-null   object
 8   rating          4638 non-null   object
 9   released        4638 non-null   object
 10  runtime         4638 non-null   int64
 11  star            4638 non-null   object
 12  writer          4638 non-null   object
 13  year            4638 non-null   int64
 14  ROI_pct         4638 non-null   float64
 15  release_dt      4638 non-null   object
 16  Month_released  4638 non-null   int64
dtypes: float64(1), int64(6), object(10)
memory usage: 616.1+ KB