In [1]:
from sklearn import tree
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv('data/big_filtered.csv')

df=df.iloc[:, 1:]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8113 entries, 0 to 8112
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID_                    8113 non-null   int64
 1   imdb_title_id          8113 non-null   object
 2   title                  8113 non-null   object
 3   original_title         8113 non-null   object
 4   year                   8113 non-null   int64
 5   date_published         8113 non-null   object
 6   genre                  8113 non-null   object
 7   duration               8113 non-null   int64
 8   country                8112 non-null   object
 9   language               8088 non-null   object
 10  director               8112 non-null   object
 11  writer                 8095 non-null   object
 12  production_company     8047 non-null   object
 13  actors                 8111 non-null   object
 14  description            8066 non-null   object
 15  avg_vote               8113 non-null   float64
 16  votes                  8113 non-null   int64
 17  budget                 8113 non-null   int64
 18  usa_gross_income       6525 non-null   float64
 19  worlwide_gross_income  8113 non-null   int64
 20  metascore              5709 non-null   float64
 21  reviews_from_users     7956 non-null   float64
 22  reviews_from_critics   7980 non-null   float64
 23  intyear                8113 non-null   int64
 24  budget_curr            8113 non-null   object
 25  budget_amt             8113 non-null   int64
 26  budget_int             8113 non-null   int64
 27  ROI_pct                8113 non-null   float64
 28  roi_outlier_ind        8113 non-null   bool
dtypes: bool(1), float64(6), int64(9), object(13)
memory usage: 1.7+ MB

In [4]:
import datetime as dt

0.2777777777777778

In [11]:
df1 = df
df1['date_published'] = pd.to_datetime(df['date_published'], unit='D')

In [15]:
df1['month_of_date'] = df1['date_published'].dt.month
df1.head()

,ID_,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,...,metascore,reviews_from_users,reviews_from_critics,intyear,budget_curr,budget_amt,budget_int,ROI_pct,roi_outlier_ind,month_of_date
0,81215,tt6793280,The Devil's Doorway,The Devil's Doorway,2018,2019-02-28,Horror,76,"Ireland, UK",English,...,48.0,48.0,45.0,2018,$,1,1,5.166590e+07,True,2
1,52491,tt10183542,Firincinin Karisi,Firincinin Karisi,2019,2019-09-27,Comedy,91,Turkey,Turkish,...,NaN,NaN,1.0,2019,$,2,2,2.355900e+07,True,9
2,61919,tt1783232,Fetih 1453,Fetih 1453,2012,2012-02-16,"Action, Drama, History",162,Turkey,Turkish,...,NaN,154.0,21.0,2012,$,18,18,1.988724e+08,True,2
3,31463,tt0122143,The Last Broadcast,The Last Broadcast,1998,1998-10-23,"Horror, Mystery",86,USA,English,...,NaN,171.0,46.0,1998,$,900,900,1.244111e+03,True,10
4,54302,tt1127855,Ri-teon,Ri-teon,2007,2007-08-08,"Drama, Thriller",113,South Korea,Korean,...,NaN,1.0,11.0,2007,$,1000,1000,4.568780e+05,True,8

In [50]:
df['language']=df['language'].apply(lambda x: x.replace(',', '') if x==x else '')
cvt=CountVectorizer()
language_ary=cvt.fit_transform(df['language']).toarray()
# feature_names=[f'language_{language}' for cvt.get_feature_names()
# feature_names=[]
language_df=pd.DataFrame(language_ary, columns=[f'{language}' for language in cvt.get_feature_names()])
language_df.head(10)

,1453,aboriginal,acholi,afrikaans,akan,albanian,algonquin,american,amharic,ancient,...,uzbek,vietnamese,visayan,washoe,welsh,xhosa,yakut,yiddish,yoruba,zulu
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#  This totally didn't work:
#  language_df['Row_Total'] = df.sum(numeric_only=True, axis=0)

In [51]:
language_df.shape

(8113, 175)

In [ ]:
#language_df.drop(['Row_Total'], axis=1, inplace=True)

In [52]:

df1 = language_df
df1.head()

,1453,aboriginal,acholi,afrikaans,akan,albanian,algonquin,american,amharic,ancient,...,uzbek,vietnamese,visayan,washoe,welsh,xhosa,yakut,yiddish,yoruba,zulu
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
df1.reset_index(inplace=True, drop=False)
df1.head()

,index,1453,aboriginal,acholi,afrikaans,akan,albanian,algonquin,american,amharic,...,uzbek,vietnamese,visayan,washoe,welsh,xhosa,yakut,yiddish,yoruba,zulu
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df1a = df1.rename({'index': 'ID_'}, inplace=False, axis=1)

In [56]:
df1a.head()

,ID_,1453,aboriginal,acholi,afrikaans,akan,albanian,algonquin,american,amharic,...,uzbek,vietnamese,visayan,washoe,welsh,xhosa,yakut,yiddish,yoruba,zulu
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
cvt.get_feature_names()

In [93]:
df_unpivoted_lang = df1a.melt(id_vars='ID_', var_name='language', value_name = 'language_indicator')
df_unpivoted_lang.head()

   ID_ language  language_indicator
0    0     1453                   0
1    1     1453                   0
2    2     1453                   0
3    3     1453                   0
4    4     1453                   0

In [59]:
df2 = df_unpivoted_lang

In [60]:
df2.shape  #returns 1,419,775, so too big for excel. Dropping all zero rows, since that is the majority of values

(1419775, 3)

In [61]:
df3=df2[df2['language_indicator']>0]

In [92]:
df3.shape

(12667, 3)

In [90]:
#I just need an indicator not a count, so need to reset any value >1 down to exactly 1
df3a = df3.drop('language_indicator', axis = 1)
df3a.columns

Index(['ID_', 'language'], dtype='object')

In [91]:
outfile = 'language_melt.csv'
df3a.to_csv(outfile)

In [ ]:
df['genre']=df['genre'].apply(lambda x: x.replace(',', ''))
cvt=CountVectorizer()
genre_ary=cvt.fit_transform(df['genre']).toarray()
cvt.get_feature_names()
genre_df=pd.DataFrame(genre_ary, columns=[f'genre_{genre}' for genre in cvt.get_feature_names()])
genre_df

In [ ]:
df['director']=df['director'].apply(lambda x: x.replace(',', '') if x==x else '')
cvt=CountVectorizer()
director_ary=cvt.fit_transform(df['director']).toarray()
cvt.get_feature_names()
director_df=pd.DataFrame(director_ary, columns=[f'director_{director}' for director in cvt.get_feature_names()])
director_df

In [ ]:
df['writer']=df['writer'].apply(lambda x: x.replace(',', '') if x==x else '')
cvt=CountVectorizer()
writer_ary=cvt.fit_transform(df['writer']).toarray() # can add max_features
cvt.get_feature_names()
writer_df=pd.DataFrame(writer_ary, columns=[f'writer_{writer}' for writer in cvt.get_feature_names()])
writer_df

In [ ]:
features=['year', 'director', 'language', 'writer', 'genre']

In [ ]:
X=pd.concat([genre_df, director_df, language_df, writer_df, df[['year', 'budget']]], axis=1)
X.head()

In [ ]:
y=df['worlwide_gross_income']

In [ ]:
classifier # this is a good candidate for Naive Bayes

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(X, y)

In [ ]:
rf.score(X, y) # gives the R^2 closer to 1 means better fit

In [ ]:
df.head()

In [ ]:
df['ROI_pct']=df['ROI_pct'].astype('int')
df.info()

In [ ]:
df=df[["duration","budget", "worlwide_gross_income","production_company"]]

In [ ]:
df.head()

In [ ]:
s=pd.cut(df["worlwide_gross_income"], 5, labels=["1","2","3","4","5"])

In [ ]:
df['worlwide_gross_income']=s
df.head()

In [ ]:
s.hist()

In [ ]:
X=df[['duration','budget']]#features
y=df['worlwide_gross_income']#labels

In [ ]:
print(y)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
y_test

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [ ]:
rf = rf.fit(X_train, y_train)

In [ ]:
y_pred=rf.predict(X_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
rf.predict([[120,500000000]])